# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages


# 題庫資料轉換相關

car_license_data_convert/.ipynb_checkpoints/
car_license_data_convert/question_files


# 圖片跟 json filter
assets/data/car/rule_bool.json
assets/data/car/rule_choice.json
assets/data/car/sign_bool.json
assets/data/car/sign_choice.json
assets/images/car/sign-bool/
assets/images/car/sign-choice/